<% @attentions.each do |attention| %>

 <div class="attn_boby">

  <div class="attn_img_box left"><%= image_tag attention.img_url, class: "img_attn" %></div>
  <div class="col-80">
    <div class="attn_head left fullwidth">
      <span><%= attention.name %></span>
      <%= tool_icons(attention,{content_tag: :span, content_class: 'right'})%>
    </div>
    <div class="attn_desc">
        <%= raw CheckShortContent(attention.description,attention.id,310) %>
    </div>
  </div>
 </div>

<% end %>
