<h2>Список групп (для целей)</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя группы</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tgroups.each do |tgroup| %>
      <tr>
        <td><%= tgroup.name %></td>
        <%= td_tool_icons(tgroup) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

