.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span { margin: 0; padding: 0;	border: none;	outline: none;}

.accordion li {	list-style: none; background-color: white;}
.accordion>li { background-color: #fff; margin-bottom: 2px; border: 1px solid #e5e5e5; border-radius: 4px; }

.accordion { margin-right: 20px; }

.accordion li > a { display: block; position: relative; min-width: 110px; padding: 0 10px 0 20px;
	border: none;
	color: #005580;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
  &:hover{color: white;background-color:#93c0e6;}
}
.accordion>li> a{padding: 0 10px 0 10px;}

.accordion>li>a.active{ background-color: #428bca; color: white; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.sub-menu li{ background-color: #f9f9f9; }
.sub-menu li {border-top: 1px solid #ddd;}
.sub-menu li.active a, .sub-menu li a.active{ background-color: #616161;  color: white;}
// .sub-menu li:hover {background-color:#93c0e6; color: white;}


.sub-menu li:last-child,.sub-menu li.active:last-child,.sub-menu li.active:last-child a { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

.accordion li > .sub-menu { display: none; }
.accordion li:target > .sub-menu {	display: block; }