// Place all the styles related to the Attentions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_attn   { max-width: 100px; max-height: 140px; }
td.img_attn { width: 102px;}
.att_head   { height: 16px;}

#new_attention label, .edit_attention label {width: 120px;}
#attn_form .field input[type='text'], #attn_form .field .chosen-container, .field select
{width: 100%;}

#attn_form .col-30 {margin-right: 20px;}
#attn_form .inp_btn_label{ margin: 25px 30px 0 0;}
#attn_form .field label {display: block;}


.attn {display: block; overflow: hidden; margin-bottom: 20px}
.attn_body { margin-left: 145px; }
.imgc { text-align: center;}
.attn_img_box{width: 16%; margin-right: 15px; display: flex; align-items: center; justify-content: center; display: table;}
.attn_head{ background-color: #93c0e6; margin-bottom: 10px; padding: 5px 10px; border-radius: 4px; color: white; height: 27px;}

.attn_cats { background-color: #93c0e6; margin-bottom: 10px; padding: 5px 10px; border-radius: 4px; color: white; min-height: 27px;}

.acat1{ background-color: #e6e2d9; color: #a56400;} // книги #ccc9b0
.acat2 {background-color: #f7f5c4; color: #ec1919;}
.acat3 {background-color: #409a6d;}
.acat4 {background-color: #e88b3b;}
.acat5 {background-color: #3d75af;}
.acat6 {background-color: #3e983e;}
.acat7 {background-color: #722673;}  //с#
.acat8 {background-color: #999a97;}  // arduino
.acat9 {background-color: #bbb89c;}

.paste {
    width: 16px;
    display: inline-block;
    margin-left: 4px;
    padding: 4px;
    height: 16px;
    background-image: image_url('paste.png');
}