$border-color: #D6D6D6;
$light-gray: #fafafa;
$main-orange: #ff8411;
$secret-red: #FADBD8;
$green-text: #50aa00;
$green: #6acc00;
$head-color: #80a9dc;
$head-color-dark: #288be0;

$active-btn: #b8999f;

$pills: #428bca;
$pills-active: #0f60a0;

$border-color: #e7e7e7;

$input-border-color: #3c3c3c42;
