.icon,li.icon a {display: inline-block; vertical-align:middle; position:relative; width: 16px; height: 16px;}
.icon+.icon {margin-left: 2px;}
.icon_remove {background: url('delete.png');}
.icon_remove.disabled { }
.icon_edit {background: url('edit.png');}

label.inp_btn_label { padding: 0 0 0 18px; position: relative; }
label.inp_btn_label .inp_btn { position: absolute; top: -2px; left: 0;}

