.icon,li.icon a {display: inline-block; vertical-align:middle; position:relative; width: 16px; height: 16px;}
.icon+.icon {margin-left: 2px;}
.icon_remove {background: url('delete.png');}
.icon_remove.disabled { }
.icon_edit {background: url('edit.png');}

label.inp_btn_label { padding: 0 0 0 18px; position: relative; }
label.inp_btn_label .inp_btn { position: absolute; top: -2px; left: 0; }

.btn-reset {margin-left: 10px;}

#itemAdd_form { margin-bottom: 20px; }
#itemAdd_form label { width: 120px; }
#itemAdd_form input { width: 400px; margin-right: 10px; }

.datepicker { background: asset-url('ico-date.png') 97% 3px no-repeat; cursor: pointer;}

span.icon { width: 16px;  height: 16px; display: inline-block; vertical-align:middle; position:relative; }
span.icon:hover{ cursor: pointer; }

span.icon_apply{background: url('apply.png') no-repeat;}
span.icon_cancel{background: url('cancel.png') no-repeat;}

.only_actual:hover {opacity: 0.8;}
.switcher_a { margin-top: 2px; margin-right:20px; width: 140px; float: right; }
.switcher_a .link_a { text-decoration: none; text-align: right; padding: 0 5px; min-width: 78px; }
.switcher_a .scale {  float: right; width: 44px; height: 19px; background: #fff; border: 1px solid #dedede; border-radius: 10px; position: relative; cursor: pointer;}
.switcher_a.toggled .scale {background: #009ddd;}
.switcher_a .handle { 
    float: right;
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: left 0.2s ease;
}

.switcher_a .handle.active { left: 27px; background: #fff; border: 1px solid #ccc; }
