pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

body {
//  background-color: #f5fcf8;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.container-all{
 background-color: #fff;
 width: 1230px;
  margin-right: auto;
  margin-left: auto;
  min-height: 95%;
  margin-bottom: -50px;
}

.page-wrapper {
    min-height: 95%;
    margin-bottom: -50px;
}
* html .page-wrapper {
    height: 95%;
}
.page-buffer {
    height: 50px;
}

.page-footer, .footer{
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
}

.subnav li.active_li a{
border-radius: 4px;
padding: 10px 15px;
text-decoration: none;
background-color: #428bca;
color: #fff;
}

.subpills a{
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  float: left;
  color: #428bca;
  padding: 3px 10px;
  height: 24px !important;
  cursor: pointer;
  &:hover{
    //background-color: #f3f3f3;  
  }
  &.btn-success:hover{
    background-color: green;
  }
  &.active,{
    background-color: #428bca;
    color: #fff;
  }
  &.passive{
    background-color: #eee; 
  }
} 

.subnav .btn-success:hover, .subnav .btn-success:focus{
    background-color: #5fcf5f;
}