<% notices = Notice.all %>
<% if !notices.nil? %>
	<div class="statement_show mini">
		<div class="min_statement_head">Установки / заметки</div></br>
		<div class="statement_content">
			<% notices.each do |notice| %>
				<p><%= notice.name %></p>
			<% end %>
		</div>
	</div>
	<div class="statement_bottom mini"></div>
<% end %>